/****************************************************************************
global*/
body {
    margin: 0;
}

/****************************************************************************
google logo image*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    margin-bottom: 40px;
}

/****************************************************************************
google buttons*/
.wrapper { 
    float:left;
    width:100%;
    text-align:center;
}

/* style buttons */
.button {
    display:inline-block;
    margin-top: 40px;
    margin-right: 5px;
    border: none;
    border-radius: 8px; /* rounds buttons */
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid white;
    transition-duration: 0.4s; 
}

/* on button hover give buttons black outline */
.button:hover {
    border: 2px solid #555555; 
}

/****************************************************************************
google top nav*/
.topnav {
    overflow: hidden;
    font-family: sans-serif;
}
  
/* top nav links align left */
.topnav a.left {
    float: left;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
}

/* top nav links align right */
.topnav a.right {
    float: right;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
}
  
/* on hover underline links */
.topnav a:hover {
    text-decoration: underline; 
}

/****************************************************************************
google bottom nav*/
.bottomnav {
    overflow: hidden;
    font-family: sans-serif;
    position: fixed;
    background-color: #E8E8E8;
    bottom: 0;
    width: 100%;
}
  
/* bottom nav links align left */
.bottomnav a.left {
    color: black;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* bottom nav links align right */
.bottomnav a.right {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* on hover underline links */
.bottomnav a:hover {
    text-decoration: underline;
}

/****************************************************************************
google search bar*/
.searchbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 15px; 
    border: 2px solid darkgray;
    transition-duration: 0.4s; 
}

.searchbar:hover {
    border: 2px solid lightgray;
}