/****************************************************************************
global*/
body {
    margin: 0;
}

/****************************************************************************
google logo image*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    margin-bottom: 40px;
}

/****************************************************************************
google buttons*/
.wrapper { 
    float:left;
    width:100%;
    text-align:center;
}
.button {
    display:inline-block;
    margin-top: 20px;
    margin-right: 5px;
    border: none;
    border-radius: 4px; /* rounds buttons */
    font-size: 16px;
    cursor: pointer;
    padding: 15px;
    border: 2px solid white;
    transition-duration: 0.4s;
}

.button:hover {
    border: 2px solid #555555; /* on button hover give buttons black outline */
}

/****************************************************************************
google top nav*/
.topnav {
    overflow: hidden;
    font-family: sans-serif;
  }
  
.topnav a.left {
    float: left;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.topnav a.right {
    float: right;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
  
.topnav a:hover {
    text-decoration: underline;
}

/****************************************************************************
google bottom nav*/
.bottomnav {
    overflow: hidden;
    font-family: sans-serif;
    position: fixed;
    background-color: #E8E8E8;
    bottom: 0;
    width: 100%;
  }
  
.bottomnav a.left {
    color: black;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bottomnav a.right {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.bottomnav a:hover {
    text-decoration: underline;
}

/****************************************************************************
google search bar*/
.searchbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}